@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Movie App!</p>
    <a href="/Movie" class="btn btn-primary">View Movies</a>
</div></div>
