body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    background: linear-gradient(135deg, #1f3a93, #2c3e50);
    border-bottom: 0;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    margin-right: 20px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

    .navbar-nav .nav-link:hover {
        color: #ff7e5f;
    }

    .navbar-nav .nav-link::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #ff7e5f;
        transition: width 0.3s;
        position: absolute;
        bottom: -5px;
        left: 0;
    }

    .navbar-nav .nav-link:hover::after {
        width: 100%;
    }

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.movie-card {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.2s, opacity 0.5s ease-in-out, box-shadow 0.2s;
    opacity: 0;
    transform: scale(0.95);
}

    .movie-card:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
    }

.movie-poster {
    height: auto;
    width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.movie-card:hover .movie-poster {
    transform: scale(1.05);
}

.movie-info {
    padding: 20px;
}

.movie-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    transition: color 0.2s ease-in-out;
}

.movie-card:hover .movie-title {
    color: #ff7e5f;
}

.movie-info p {
    margin: 0;
}

    .movie-info p:not(:last-child) {
        margin-bottom: 0.5rem;
    }

.styled-title {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin: 2rem 0;
    background: -webkit-linear-gradient(#ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-up {
    animation: fadeInUp 1s ease-in-out forwards;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.text-danger {
    color: red;
}
